@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --ff-primary: "Changa One", sans-serif;
    --ff-secondary: "Montserrat", sans-serif;
    --sidebar-width: min(250px, 30vw);

}

body{
 padding: 0;   
 margin: 0;
}