.app-shell {
    display: flex;
    min-height: 100vh;
    /* overflow: hidden; */
}

.main-content {
    margin-left: calc(var(--sidebar-width) + 32px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem 1.5rem;
    gap: 2rem;
}

.content-section {
    flex-grow: 1;
}