@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --clr-blue-dark: #003153;
  --clr-blue-steel: #4682B4;
  --clr-blue-teal: #367588;
  --clr-dark: #111;
  --clr-light: #fff;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Nunito", sans-serif;
}

*{
  box-sizing: border-box;
}

body{
  font-family: var(--font-primary);
  margin: 0;
}
